import random
number = random.randint(1,100)

player_name = input("hello, what's your name ? ")
number_of_guesses = 0
print('okay! '+ player_name + 'i have selected a number as my phone pin \nbut i forget that number \nplease help me to find out that number:')
print("hint:the number is between 1-100")
while number_of_guesses < 10:
    guess = int(input())
    number_of_guesses += 1
    if (guess < number):
        print("you guess is too low")
    elif (guess > number):
        print("you guess is too high")
    elif(guess == number ):
        print("you guess it right")
        print("the number is :", number)
    else:
        print("you did not guess the number")
        print("the correct number is :",number)
